/* 意见反馈 */
.feedback .item{
	width: 80%;
	margin: 10px auto;
	border: 1px solid #eee;
}
.feedback .item .left-zone{
	display: inline-block;
	line-height: 1.5em;
	text-align: center;
	padding: 10px;
	border-right: 1px solid #eee;
}
.feedback .item .right-zone{
	display: inline-block;
	vertical-align: top;
}
.feedback .item .right-zone .title{
	background-color: #CACAD4;
	padding: 10px;
	
}
.feedback .item .right-zone .content{
	padding: 20px;
}
.feedback .item .right-zone .reply{
	color: red;
	border: 1px solid #eee;
	padding: 10px;
}